:root {
    --background: white;
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr 3fr;
    border: solid black
}

header {
    position: sticky;
    top: 0;
    display: grid;
    margin: 0;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--header-background);
}


main {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    border: solid black 1px;
}



.pins {
    display: inline-grid;
    border: solid black 1px;
    flex-wrap: wrap;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}